$really-dark: #222;
$dark-primary: #2B2B2B;
$dark-secondary: #454545;
$grey: #777;
$light-secondary: #999;
$light-primary: #fff;

$red-dark: #b35959;
$red: #ff9999;

$yellow-dark: #cc8e5c;
$yellow: #ffcc99;

$green-dark: #59b386;
$green: #99ffcc;

$cyan-dark: #59b3b3;
$cyan: #99ffff;

$blue-dark: #5974b3;
$blue: #99b8ff;

$pink-dark: #ab59b3;
$pink: #f799ff;
